{%- if interfaces|length > 1 -%}
ext_if = "{ {{ interfaces|join(', ') }} }"
{% else -%}
ext_if = "{{ interfaces[0] }}"
{% endif -%}
tcp_pass = "{ 22000 }"
udp_pass = "{ 21027 }"
set block-policy drop

# Loopback is ok
set skip on lo0

# Obvious attacks
scrub in all no-df random-id max-mss 1440
antispoof quick for ($ext_if)

# Childrens table is for annoying people
table <childrens> persist
block in quick proto tcp from <childrens> to any

# Allow only the ports we care about
pass in on $ext_if proto tcp to any port $tcp_pass
pass in on $ext_if proto udp to any port $udp_pass
pass in on $ext_if proto tcp to any port 22 flags S/SA keep state \
(max-src-conn 5, max-src-conn-rate 5/5, overload <childrens> flush)

# Pings are OK
pass inet proto icmp icmp-type echoreq

# Allow anything outbound
pass out quick on $ext_if inet keep state
